{# templates/macros/_media-images-bootstrap-5.html.twig #}

{% macro render_carousel_inner(settings, images) %}
  <div class="carousel-inner">
    
    {% for image in images %}
    
      <div class="carousel-item{% if loop.first %} active{% endif %}">
        <img src="{{ image.url }}" alt="{{ image.alt }}" class="d-block w-100">
        {% if settings.show_alt_text %}
          <div class="carousel-caption d-none d-md-block">
            <{{ settings.title_field_tag }}>{{ image.alt }}</{{ settings.title_field_tag }}>
          </div>
        {% endif %}
      </div>
    {% endfor %}
    
  </div>
{% endmacro %}


{% macro render_carousel_controls(carousel_id) %}
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
{% endmacro %}


{% macro render_carousel_indicators(carousel_id, images, thumbnails, settings, carousel_indicators) %}
  <div class="carousel-indicators">
    {% for image in images %}
      <button type="button" data-bs-target="#{{ carousel_id }}" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.first %} active{% endif %}  {% if thumbnails %} thumbnail{% endif %}" aria-current="true" aria-label="Slide {{ loop.index0 }}">
        {% if settings.show_thumbnails %}
          <img src="{{ thumbnails[loop.index0] }}" class="d-block w-100">
        {% endif %}
      </button>
    {% endfor %}
  </div>
{% endmacro %}
