{#
/**
 * @file
 * Template for the Bootstrap Toolbox Entities Carousel formatter.
 *
 * Available variables:
 * - images: The images in the carousel.
 * - carousel_id: The carousel id.
 * - settings: Show controls, show indictors, interval settings.
 */
#}

{% if settings.bootstrap_version == 3 %}
  {% import '@bt_carousel/templates/macros/_media-images-bootstrap-3.html.twig' as macros %}
  <div id="{{ carousel_id }}" class="carousel slide carousel-fade carousel-bootstrap-3" data-ride="carousel">

{% elseif settings.bootstrap_version == 4 %}
  {% import '@bt_carousel/templates/macros/_media-images-bootstrap-4.html.twig' as macros %}
  <div id="{{ carousel_id }}" class="carousel slide {{ settings.carousel_fade }} carousel-bootstrap-4" data-ride="carousel" data-interval={{ settings.interval }}>
  
{% else %}
  {% import '@bt_carousel/templates/macros/_media-images-bootstrap-5.html.twig' as macros %}
  <div id="{{ carousel_id }}" class="carousel slide {{ settings.carousel_fade }} {{ settings.carousel_dark }}" data-bs-ride="carousel" data-bs-interval={{ settings.interval }}>
{% endif %}    
    
    {% if settings.show_indicators and not settings.show_thumbnails %}
      {% set carousel_indicators = 'carousel-indicators' %}
      {{ macros.render_carousel_indicators(carousel_id, images, thumbnails, settings, carousel_indicators) }}
      
    {% endif %}

    {{ macros.render_carousel_inner(settings, images) }}

    {% if settings.show_controls %}

      {{ macros.render_carousel_controls(carousel_id) }}

    {% endif %}

    {% if settings.show_indicators and settings.show_thumbnails == true %}
      {% set carousel_indicators = 'carousel-images-indicators' %}
      {{ macros.render_carousel_indicators(carousel_id, images, thumbnails, settings, carousel_indicators) }}
      
    {% endif %}
        
  </div>


{% if settings.show_indicators and settings.show_thumbnails %}
  {{ attach_library('bt_carousel/thumbnails') }}
  <div class="clearfix w-100 mb-5 pb-5"></div> 
{% endif %}
